div {
  text-align: center;
}

#gameCanvas {
  margin-left: auto;
  margin-right: auto;
}

#score {
  text-align: center;
  font-size: 140px;
  font-family: 'Antic Slab', serif;
}

#info {
  text-align: center;
  font-size: 50px;
  font-family: 'Antic Slab', serif;
  font-style: italic;
}